@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}                         
html{
    height: 100%;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}
.grid-container >*{
    box-shadow: -1px 1px  7px 0px white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.primero{
    grid-area: primero;
    background-color: #45ac9c;
}
.segundo{
    grid-area: segundo;
    background-color: white;
}
.tercero{
    grid-area: tercero;
    background-color: white;
}
.cuarto{
    grid-area: cuarto;
    background-color: white;

}
.quinto{
    grid-area: quinto;
    background-color: white;
}
/*modo celular*/
.grid-container{
    display: grid;
    gap: 5px; /* para separar los grid*/
    grid-template: 
    "primero"  50px
    "segundo"  200px
    "cuarto"   400px
    "quinto"   300px /
     480px auto;
}
/*modo tablet   mas de 600px*/                                                
@media (min-width:600px){
    .grid-container{
        /*alto de las filas*/
        grid-template:
        "primero"   50px
        "segundo"   200px
        "cuarto"    500px
        "quinto"    500px/
        /* ancho de las filas*/
        auto
        ;
    }
}     
/*modo escritorio*/     
@media (min-width:900px){
    .grid-container{
        /*alto de las filas*/
        grid-template:
        "primero"   50px
        "segundo"   150px
        "cuarto"    400px
        "quinto"   390px/
        /* ancho de las filas*/
        auto
        ;
    }
}
/*ESTILOS DEL PRIMER APARTADO*/
.nombredelsitio {
    display: flex;
    margin-top: auto;
    color: black;
}

.enlaces{
    text-align: right;
    margin-top: -25px;
    text-decoration: none;
    
}
.enlaces a{
    text-decoration: none;
    color: white;
}
/*ESTILOS DEL SEGUNDO APARTADO*/
.logoNombre{
    position: absolute;
    top: 90px;  
}

.asistencia{
    position: absolute;                   
    margin-left: 70%;
    margin-top: 10px;
} 
.contactanos h4{
    color: #45ac9c;
    margin-top: 60px;
    font-size: 30px;
}

/*ESTILOS DEL CUARTO APARTADO*/
.cuarto-item h3{
    color: #45ac9c;
    position: relative;
    margin-left: 45%;
}

.contenedor-cuarto{
    margin-top: 20px;
}
.formulario{
    background: whitesmoke;
    width: 400px;
   
                          
}
.contenedorInfor{
    background-color: rgb(254, 255, 255);
    padding: 4.5em;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    
}
.contenedoInfor-item{
    margin: 1em;
    padding: 1em;
    color: black;
    float: left;
    
    position: relative;
    height: auto;
    max-width: 100%;
    
}

#itemInfor{
    background-color: rgb(241, 247, 247);
    height: auto;
    max-width: 100%;
    
    
}
#imgInfor{
    float: 10vw;
    margin-top: 4vw;
    width: 370px;
    height: 250px;
}

/*  */

.contenedor-Cuarto{
    background-color: rgb(254, 255, 255);
    padding: 4.5em;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    
    
}
.contacto-Cli{
    width: 400px;
    margin: auto;
    background-color: #E2ECEE;
}

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block; /* esto es para que el label se sobreponga a la caja de texto */
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px; /* esto los separara un poco */
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px; /* una longitud definida */
    border: 1px solid #CED5D7;
    resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none; /* reset especifico para Chrome/Safari */
    box-shadow:0 0 0 3px #dde9ec;
}


.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}


/* ESTILOS DEL QUINTO APARTADO */
.quinto{
    margin-top: 200px;
}
.quinto-item a{
    text-decoration: none;
    color: black;
}
.contenedor-quinto{
    background-color: #f0f3f3;
    padding: 4.5em;
    overflow: hidden;
    height: auto;
    max-width: 100%;
   
}
.quinto-item{
    margin: 4em;
    padding: 1em;
    color: black;
    float: left;
    margin-top: -6%;
    position: relative;
}
#cont-quinto-item1{
    background-color: #f0f3f3;
    text-align: left;
    line-height: 30px;
    
}
.linkphone{
    text-decoration: none;
}
#cont-quinto-item2{
    background-color: #f0f3f3;
    text-align: left;
    line-height: 30px;
}
#cont-quinto-item3{
    background-color: #f0f3f3;
    text-align: left;
    line-height: 30px;
}

.quinto-item h4{
    margin: 4px;
    border-bottom: 2px solid #45ac9c;
    font-family: gugi;
}
